[MESSAGES CONTROL]

disable=
    global-statement,
    line-too-long,
    invalid-name,
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,
    too-few-public-methods,
    import-error,
    unspecified-encoding,
    redefined-builtin
