fastapi
uvicorn
httpx
pylint
pytest
mypy
flake8
black
openai
pyyaml
types-PyYAML
pytest-cov
psycopg2-binary
types-psycopg2
python-dotenv

sphinx
sphinx-autodoc-typehints
sphinx-click
sphinx-git
sphinx-panels
sphinx-design
sphinx-theme
sphinx-needs
sphinx-rtd-theme
recommonmark
mdToRst
